.order p:not(.rhino-container p) {
  font-family: "Roboto Slab", serif;
  font-size: 20px;
}
.proheader {
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  animation: fadeIn 1s;
  margin-bottom: 70px !important;
  padding: 30px 30px 30px 90px;
  background: #ffffff;
  max-height: 500px;
  overflow: hidden;
}
.proheader img {
  max-width: 100%;
}
.productrow {
  opacity: 0;
  -webkit-animation: dropIn ease-in 1;
  -moz-animation: dropIn ease-in 1;
  animation: dropIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
}
.headerdesc {
  opacity: 0;
  -webkit-animation: dropIn ease-out 1;
  -moz-animation: dropIn ease-out 1;
  animation: dropIn ease-out 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  font-family: 'Roboto Slab', serif;
  width: 100%;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 70px;
  color: #999999;
}
.headerdesc h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1.8em;
  margin: 0 0 10px 0;
  letter-spacing: 5px;
  color: #444444;
}
.bg-slide {
  width: 100%;
  height: 500px;
}
#gallery,
.cycle-slideshow {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
input[type="text"],
textarea {
  border-radius: 0px !important;
  outline: none;
  border: none;
  box-shadow: none;
  background-color: #efefef;
  width: 70%;
  padding: 10px 20px;
  margin-bottom: 10px;
  color: #555555;
}
.details > input[type="text"],
.details > textarea {
  border-radius: 0px !important;
  outline: none;
  border: 1px solid #c6d0da !important;
  box-shadow: none;
  background-color: #ffffff;
  width: 70%;
  padding: 10px 20px;
  margin-bottom: 10px;
  margin-right: 20px;
  color: #000000;
}
label.error {
  margin-bottom: 20px;
  color: red;
}
.jumbotron {
  padding: 0;
  width: 100%;
  margin-bottom: 0;
  background-color: #ffffff;
}
.jumbotron.order {
  padding: 0 80px 0 140px;
}
#map-canvas {
  height: 400px;
}
.productdesc {
  line-height: 26px;
  line-height: 1.8em;
  color: #666666;
  font-size: 1.2em;
  text-align: center;
  padding: 0 10%;
  font-family: 'Roboto Slab', serif;
}
.stronger {
  font-size: 1.3em;
  display: block;
  margin-bottom: 5px;
}
.galleria {
  text-align: center;
}
.gallery {
  margin-bottom: 20px;
  width: 100%;
}
.gallery.vertical {
  margin-bottom: 20px;
  width: 46%;
  margin-right: 2%;
}
.gallery.prologo {
  margin-bottom: 20px;
  width: 46%;
  margin-right: 2%;
  float: left;
}
.gallery.vertical:last-child,
.gallery:last-child,
.gallery.prologo:last-child {
  margin-bottom: 50px;
}
.clients {
  background: #ffffff !important;
  padding-bottom: 50px !important;
}
.clients h1 {
  color: #555555;
  font-size: 40px;
}
.client-logo {
  margin: 0 5% 5% 0;
  display: inline-block;
  height: 40px;
  width: 40px;
  transition: opacity 300ms;
}
.client-logo img {
  max-width: 100%;
}
.maps {
  border-top: 1px #c6d0da solid;
  border-bottom: 1px #c6d0da solid;
}
hr {
  border-color: #c6d0da;
}
hr.formhr {
  width: 60%;
  margin: 20px auto 40px auto;
}
input[type="checkbox"] {
  margin-right: 10px;
  display: inline-block;
  clear: both;
}
h2.orderh2 {
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 30px;
}
.fa-comments,
.fa-pencil,
.fa-align-justify,
.fa-text-width {
  color: rgba(138, 230, 46, 0.7);
}
.productside-container {
  border: #eeeeee solid 1px;
  color: #bcbcbc;
  padding: 0;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
.productside-inner {
  cursor: pointer;
  display: block;
  margin-bottom: 20px;
  padding: 20px;
  border: #ffffff solid 1px !important;
  text-align: center;
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #efefef 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #efefef));
  background: -webkit-linear-gradient(top, #ffffff 0%, #efefef 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #efefef 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #efefef 100%);
  background: linear-gradient(bottom, #ffffff 0%, #efefef 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#efefef', GradientType=0);
}
.productside-inner:hover,
.productside-inner.current {
  color: #444444;
  background: #ffffff;
  background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #e2e2e2 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #ffffff), color-stop(100%, #e2e2e2));
  background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%, #e2e2e2 100%);
  background: -o-radial-gradient(center, ellipse cover, #ffffff 0%, #e2e2e2 100%);
  background: -ms-radial-gradient(center, ellipse cover, #ffffff 0%, #e2e2e2 100%);
  background: radial-gradient(ellipse at center, #ffffff 0%, #e2e2e2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e2e2e2', GradientType=1);
}
.productside-innerblack {
  background-color: #bbbbbb;
  color: #ffffff;
  text-transform: none;
  font-family: "Roboto Slab", serif;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 400ms;
  border: 1px solid #ffffff !important;
  text-align: center;
}
.productside-innerblack:hover {
  border: 1px solid #bbbbbb !important;
  background-color: #ffffff;
  color: #444444;
}
.productside-form {
  padding: 20px 20px;
}
.product-slider {
  padding: 20px 0 0 0;
}
.product-slider img {
  max-height: 389px;
}
.product-slider .rhino-container {
  max-height: 389px;
}
.highlights {
  width: 23%;
  padding: 0;
  margin-right: 2%;
  border-bottom: none;
}
.highlights img {
  width: 100%;
}
/*--Checked--*/
body {
  background: none;
}
img {
  max-width: 100%;
}
a {
  color: #555;
  border-bottom: 1px dotted #000;
}
a:hover {
  color: #000;
}
h1,
h2,
h4 {
  font: 600 65px "Raleway", sans-serif;
  text-transform: uppercase;
  color: #000;
}
h3,
p {
  font: 20px "Roboto Slab", sans-serif;
}
h2 {
  font-size: 35px;
}
h4,
p {
  font-size: 15px;
  line-height: 26px;
  color: #555;
  font-weight: bold;
}
h4 {
  color: #000;
}
p {
  font-weight: 200;
}
hr {
  clear: both;
}
.nomargin {
  margin: 0;
}
.learn_more {
  text-decoration: none;
  font: 13px "Roboto Slab", sans-serif;
  padding: 10px 40px;
  border: 1px solid #000;
}
.learn_more:hover {
  color: #fff;
  background-color: #000;
}
.learn_more.invert {
  color: #fff;
  border: 1px solid #000;
  background-color: #000;
}
.learn_more.invert:hover {
  color: #000;
  background-color: #fff;
}
.block {
  height: 50px;
  display: block;
  clear: both;
}
.block.b100 {
  height: 100px;
}
.desc {
  z-index: 999999;
  text-align: center;
  width: 100%;
  top: 10%;
  position: absolute;
}
.desc .learn_more {
  border-color: #fff;
}
.desc .learn_more:hover {
  color: #000;
  background-color: #fff;
}
.desc * {
  color: #ffffff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.desc .project {
  font-size: 75px;
  margin-bottom: 20px;
}
.desc .categories {
  font-size: 25px;
  margin-bottom: 75px;
}
.desc .learn_more {
  font-size: 18px;
}
.slides-pagination {
  bottom: 15px;
}
.slides-pagination a {
  border-color: white;
}
.slides-pagination a.current {
  background-color: #ffffff;
}
#d-coat {
  left: 15%;
  top: 30%;
}
#new-mogen {
  top: 60%;
}
#new-mogen .categories {
  margin-bottom: 50px;
}
#logo {
  top: 75%;
}
#logo .project,
#logo .categories {
  display: none;
}
.footer {
  padding-left: 60px;
}
.footer * {
  font-size: 13px;
  line-height: 21px;
}
.footer .footer-inner {
  color: #555555;
  font-size: 13px;
  border-left: 1px solid #c6d0da;
  height: 180px;
  padding-left: 30px;
}
.footer .footer-inner h4 {
  margin-top: 20px;
}
.footer .footer-inner:first-child {
  border-left: none;
}
.footer #testi {
  position: relative;
  display: block;
  overflow: hidden;
  height: 100% !important;
}
.footer .rhino-container {
  max-height: 160px;
  width: 100% !important;
}
.footer .rhino-item {
  width: 100% !important;
}
.footer .rhino-item img {
  float: left;
  padding: 3px 15px 100px 0;
}
.footer .rhino-prev,
.footer .rhino-next {
  border: none;
  top: -35px;
  right: 40px;
  padding: 5px 15px;
  line-height: 13px;
  color: #c6d0da;
}
.footer .rhino-prev i,
.footer .rhino-next i {
  font-size: 17px;
}
.footer .rhino-prev:hover,
.footer .rhino-next:hover {
  color: #000;
}
.footer .rhino-next {
  right: 0;
}
.footer-lower h4 {
  text-align: center;
  color: #c6d0da;
  font-size: 11px;
  margin: 0;
  padding: 10px;
  padding-left: 60px;
  letter-spacing: 2px;
}
.about {
  text-align: center;
}
.menu-icon {
  width: 40px;
  height: 40px;
  margin: 30px 10px;
  display: block;
  text-align: center;
  vertical-align: middle;
  border: none;
}
.menu-icon.current {
  color: #000;
}
.menu-icon.logo {
  background: url(../img/logo.png) no-repeat center;
}
.icon {
  width: 30px;
  height: 30px;
  padding: 5px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 10px;
  border: 1px solid #000000;
  display: inline-block;
  text-align: center;
  line-height: 20px !important;
  color: #000000;
  transition: background 500ms;
  transition: color 500ms;
}
.icon:hover {
  background: #000000;
  color: #fff;
}
.sidebar {
  width: 60px;
  background-color: #ffffff;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 999999;
  color: #c6d0dac6d0da;
  border-right: 1px #c6d0da solid;
}
.sidebar-top {
  display: none;
}
.tooltip-inner {
  background: white !important;
  color: #999999;
  margin-top: -10px;
  border-radius: 0px;
  opacity: 1;
  padding: 10px;
  border: 1px #c6d0da solid;
  border-left: none;
  min-width: 100px;
  margin-left: 1px;
}
.tooltip-arrow {
  visibility: hidden;
}
.tooltip.in {
  opacity: 1;
}
.portfolio {
  text-align: center;
}
.portfolio h2 {
  text-transform: uppercase;
  letter-spacing: 5px;
}
.portfolio .icon {
  width: 30px;
  height: 30px;
  padding: 5px;
  margin: 50px 0 50px 10px;
  border: 1px solid #c6d0da;
  display: inline-block;
  line-height: 20px !important;
}
.portfolio .icon:hover {
  background: #555;
  color: #ffffff;
}
.portfolio .potrait,
.portfolio .landscape,
.portfolio .logo_item {
  float: left;
  margin-bottom: 1%;
  margin-right: 1%;
}
.portfolio .potrait {
  width: 49%;
}
.portfolio .landscape {
  width: 99%;
}
.portfolio .logo_item {
  width: 32.3%;
}
.portfolio .call_to_action a {
  border: none;
}
.header_banner {
  margin-top: 60px;
  margin-bottom: 60px;
  height: 460px;
  background: #ffffff no-repeat center center;
}
.contact {
  text-align: center;
}
.contact input[type="submit"] {
  width: 20%;
  line-height: 0px;
  display: block;
  font-weight: bold;
  outline: 1px solid #c6d0da;
  max-width: 240px;
  max-height: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0px;
  background: none;
  box-shadow: none;
  border: none;
  color: #555;
  transition: background 500ms;
  margin-top: 20px;
  margin-bottom: 20px;
}
.contact input[type="submit"] :hover {
  outline: 1px solid #555;
  outline: none;
  background: #555;
  color: #ffffff;
  text-decoration: none;
  text-shadow: none;
  box-shadow: none;
  border: none;
}
.hide-on-small {
  display: block;
}
.hide-on-large {
  display: none;
}
.searchresult {
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .portfolio .potrait {
    width: 100%;
  }
  .portfolio .landscape {
    width: 100%;
  }
  .portfolio .col-md-4 {
    width: 45% !important;
  }
  .portfolio .col-md-8:not(.col-md-offset-2) {
    width: 93% !important;
  }
}
@media screen and (max-width: 480px) {
  body {
    padding: 0%;
  }
  h1 {
    font-size: 45px;
  }
  .hide-on-small {
    display: none;
  }
  .hide-on-large {
    display: block;
  }
  .container.portfolio {
    padding: 0;
  }
  .portfolio .col-md-4 {
    width: 94% !important;
  }
  .portfolio .col-md-8:not(.col-md-offset-2) {
    width: 94% !important;
  }
  .sidebar-top {
    display: block ;
    width: 100%;
    text-align: center;
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
    margin: 0;
    position: fixed;
    background: #fff;
    z-index: 99999;
  }
  .sidebar-top a.menu-icon {
    display: inline-block !important;
    width: 20%;
    margin: 0;
    line-height: 36px;
  }
  .sidebar-top .tooltip-inner {
    background: white !important;
    color: #999999;
    margin-top: 0px;
    border-radius: 0px;
    opacity: 1;
    padding: 10px;
    border: 1px #c6d0da solid;
    border-top: none;
    min-width: 100px;
    margin-left: 1px;
  }
  .footer {
    padding: 0;
  }
  .footer .footer-inner {
    border-left: none !important;
    border-bottom: 1px solid #c6d0da;
    text-align: center;
    height: auto;
    padding: 40px 0 !important;
    overflow: hidden;
  }
  .footer .footer-inner:first-child {
    padding-left: 0;
  }
  .footer .footer-inner h4 {
    margin: 0 0 20px 0;
  }
  .footer .footer-inner a:not(.rhino-btn) {
    display: inline-block;
    margin: 10px;
  }
  .footer .rhino-btn {
    position: relative !important;
    display: inline-block !important;
    width: 20%;
    margin: 0 !important;
    right: auto !important;
    left: auto !important;
    top: auto !important;
    bottom: auto !important;
  }
  .footer .rhino-item img {
    clear: both;
    float: none;
    padding: 0;
  }
  .rhino-item {
    padding: 0 30px;
  }
  .footer-lower h4 {
    padding: 20px 0px;
  }
  .jumbotron.order {
    padding: 0 20px;
  }
  .productside-container {
    width: 100%;
  }
  .product-slider {
    display: none;
  }
  .highlights {
    width: 47%;
    margin-right: 3%;
    z-index: 100;
    font-size: 14px;
    text-align: center;
  }
  .details > input[type="text"],
  textarea {
    width: 95%;
  }
  .productside-inner {
    text-align: center;
    padding: 10px;
    cursor: pointer;
  }
  .productside-innerblack {
    font-size: 15px;
  }
  .productside-form {
    text-align: center;
  }
  .iconholder {
    text-align: center !important;
  }
  .blackbutton,
  input[type="submit"].blackbutton {
    width: 100%;
    max-width: none;
    margin: 0;
  }
  .searchresult {
    margin-bottom: 10px;
  }
}
.product #product_photo img {
  width: 100%;
}
.product .steps {
  margin-top: 90px;
  padding-bottom: 100px;
}
.product .product_info {
  margin-top: 30px;
}
.product .title {
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0;
  font-weight: bolder;
  display: inline-block;
  margin-right: 15px;
}
.product .price {
  margin-bottom: 30px;
  display: inline-block;
}
.product .product-desc {
  margin-bottom: 20px;
}
.product .well {
  border-radius: 0;
  box-shadow: none;
  border: none;
}
.product .well p {
  text-align: center;
  margin: 0;
  font-size: 13px;
}
.product .place_order {
  margin: 5px 0;
  text-align: center;
  max-width: none;
  width: 100%;
  display: block;
  font-size: 16px;
  padding: 15px 5px;
}
.product .icon {
  margin-top: 0;
}
.product b {
  font-weight: 500;
  color: #000;
}
.product .product_related {
  margin-left: -5px;
}
.product .product_related a {
  border: none;
  padding: 5px;
  font-size: 13px;
}
.product .product_related a img {
  margin-bottom: 5px;
}
#view_cart {
  cursor: pointer;
  z-index: 10000;
  color: #000;
  font-size: 16px;
  font-weight: normal;
  float: right;
  padding: 0 30px;
}
#view_cart i {
  margin-right: 10px;
}
#view_cart #cart_count {
  padding: 3px 8px;
  background-color: #EEE;
  border: 1px solid #DDD;
  margin-left: 10px;
}
#cbp-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 999;
  cursor: pointer;
}
.cbp-spmenu {
  padding-top: 60px;
  border-left: 1px solid #c6d0da;
  background-color: #ffffff;
}
.cbp-spmenu .learn_more {
  width: 50%;
  float: left;
  border: none;
  outline: none;
  background-color: #000;
  color: #FFF;
  margin: 0;
}
.cbp-spmenu table,
.cbp-spmenu tr,
.cbp-spmenu td,
.cbp-spmenu th {
  border: none;
}
.cbp-spmenu #jcart .cart_subtotal {
  padding: 20px;
  overflow: auto;
  background-color: #ffffff;
}
.cbp-spmenu #jcart .cart_subtotal h3 {
  width: 50%;
  float: left;
}
.cbp-spmenu #jcart .cart_subtotal #total_item {
  display: none;
}
.cbp-spmenu #jcart .cart_item {
  background-color: #FFF;
  border-top: 1px solid #c6d0da;
  border-bottom: 1px solid #c6d0da;
  padding: 20px;
  position: relative;
  overflow: auto;
}
.cbp-spmenu #jcart .cart_item label {
  float: left;
  display: block;
  font-weight: normal;
  margin-right: 10px;
  line-height: 30px;
}
.cbp-spmenu #jcart .cart_item input[type="text"] {
  float: left;
  margin: 0;
  padding: 5px 10px;
  width: 40px;
  text-align: center;
}
.cbp-spmenu #jcart .cart_item #cart_img {
  float: left;
  width: 40%;
  margin-right: 10px;
}
.cbp-spmenu #jcart .cart_item h3 {
  margin: 0;
}
.cbp-spmenu #jcart .cart_item .jcart-remove {
  border: none;
  padding: 20px 15px;
  display: block;
  position: absolute;
  line-height: 0;
  right: 0;
  top: 0;
}
.cbp-spmenu #jcart .cart_item .jcart-remove:hover {
  background-color: #000;
  color: #fff;
  text-decoration: none;
}
#checkout {
  position: relative;
  height: 100%;
  margin-top: 90px;
}
#checkout h2 {
  margin-bottom: 30px;
}
#checkout .col-md-4 {
  border: 1px solid #c6d0da;
  margin-top: 90px;
  padding-top: 40px;
}
#checkout .col-md-4 hr {
  margin-bottom: 60px;
}
#checkout .col-md-4 #subtotal {
  margin: 20px 0;
  background-color: #ddd;
  overflow: auto;
}
#checkout .col-md-4 #subtotal #content {
  background-color: #ffffff;
  float: right;
  padding: 10px;
  margin-right: 10px;
}
#checkout .col-md-4 #subtotal #content h2,
#checkout .col-md-4 #subtotal #content h4 {
  margin: 0;
  text-align: right;
}
#checkout .col-md-4 h3 {
  padding: 0 20px;
  margin: 0;
}
#checkout .col-md-4 dl {
  padding: 0 20px;
  overflow: auto;
  margin: 20px 0 60px 0;
}
#checkout .col-md-4 dl b {
  text-transform: uppercase;
  letter-spacing: 1px;
}
#checkout .col-md-4 dl dt,
#checkout .col-md-4 dl dd {
  font-weight: normal;
  width: 50%;
  float: left;
  border-bottom: 1px solid #c6d0da;
  padding: 10px 0;
}
#checkout .col-md-4 dl dd {
  text-align: right;
}
#checkout .col-md-4 #shopping_cart dt {
  width: 80%;
}
#checkout .col-md-4 #shopping_cart dd {
  width: 20%;
}
#checkout .col-md-4 #project_summary dl {
  margin-bottom: 20px;
}
#checkout form .form_wrapper {
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #c6d0da;
}
#checkout form .form_wrapper h3 {
  margin: 0;
}
#checkout form .help {
  width: 70%;
  margin-left: 30%;
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 20px;
}
#checkout form label {
  width: 30%;
  cursor: pointer;
}
#checkout form label[for="newsletter"] {
  width: auto;
}
#checkout form input {
  width: 70%;
  background-color: #fff;
  border: 1px solid #d5d5d5;
}
#checkout form input[type="checkbox"] {
  display: block;
  float: left;
  width: auto;
}
#checkout form input[type="submit"] {
  color: #fff;
  border: 1px solid #000;
  background-color: #000;
  min-width: 100px;
  width: auto;
  float: right;
  margin: 20px 0;
  margin-right: 10px;
  padding: 10px;
}
#gn-menu {
  z-index: 9999;
  border-bottom: 1px solid #c6d0da;
  color: #000000;
}
#gn-menu .breadcrumbs span {
  padding: 0 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}
#gn-menu .gn-menu {
  font-size: 16px;
}
#gn-menu a {
  border-bottom: none;
}
#gn-menu input.gn-search,
#gn-menu ul,
#gn-menu a {
  color: #000000;
}
#gn-menu a:hover,
#gn-menu li.gn-search-item:hover,
#gn-menu li.gn-search-item:hover a {
  background-color: #000000;
  color: #ffffff;
}
#gn-menu .gn-menu-wrapper {
  border-top: none;
  border-right: 1px solid #c6d0da;
}
#gn-menu .gn-icon-menu {
  padding-left: 0;
}
#gn-menu .gn-submenu li a {
  padding-left: 35px;
}
#gn-menu .gn-icon::before {
  font-family: FontAwesome;
  font-size: 20px;
}
#gn-menu .gn-icon-thumbs::before {
  content: "\f164";
}
#gn-menu .gn-icon-search::before {
  content: "\f002";
}
#gn-menu .gn-icon-portfolio::before {
  content: "\f091";
}
#gn-menu .gn-icon-product::before {
  content: "\f155";
}
#gn-menu .gn-icon-camera::before {
  content: "\f083";
}
#gn-menu .gn-icon-graphic::before {
  content: "\f097";
}
#gn-menu .gn-icon-web::before {
  content: "\f108";
}
#gn-menu .gn-icon-contact::before {
  content: "\f095";
}
#gn-menu .gn-icon-menu::before {
  content: "\f0c9";
  font-size: 1.5em;
  vertical-align: middle;
}
.col-md-4.grid_item,
.col-md-8.grid_item {
  overflow: hidden;
  padding: 0;
  margin: 10px;
  width: 31.5%%;
  float: left;
  position: relative;
}
.col-md-8.grid_item {
  width: 64.9%;
}
.grid_item img {
  width: 100%;
}
.grid_item a:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  z-index: 1;
}
.grid_item .overlay {
  display: block;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: 0;
}
.grid_item .overlay .content {
  position: absolute;
  height: 5em;
  width: 100%;
  top: 50%;
  margin-top: -2.5em;
}
.grid_item .overlay .content * {
  color: #fff;
  margin: 0;
}
.grid_item .overlay .content h4 {
  font-size: 25px;
  letter-spacing: 5px;
  font-weight: 300;
  margin-bottom: 10px;
  margin-top: 10px;
}
#Grid {
  padding: 0;
  margin: 0;
}
#Grid .mix {
  opacity: 0;
  display: none;
  width: 19%;
  float: left;
  position: relative;
  margin: .5%;
}
#Grid .mix h4 {
  margin: 0;
  margin-top: 10px;
}
#Grid .mix p {
  margin-bottom: 50px;
}
#product {
  text-align: center;
}
#product h1 {
  margin-bottom: 20px;
}
#product .filter {
  display: inline-block;
  width: 150px;
  text-transform: uppercase;
  font-weight: 600;
  color: #B1B1B1;
  padding: 20px 0;
  cursor: pointer;
}
#product .filter.active {
  color: #000;
}
#product .badge {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  text-align: center;
  text-transform: uppercase;
  color: #FFF;
  letter-spacing: .1em;
  font-weight: normal;
  padding: 0;
  font-size: 10px;
  line-height: 70px;
  background-color: #000000;
}
#gn-menu #logo {
  width: 235px;
}
#gn-menu #logo:hover {
  background-color: #fff;
}
#gn-menu #logo img {
  margin-bottom: 5px;
}
#call_us_now {
  float: right;
  border-right: none;
}
#SkypeButton_Dropdown_services_268_1_paraElement a:hover {
  background: none;
}
#SkypeButton_Dropdown_services_268_1_paraElement img {
  margin: 18px 40px 18px 30px !important;
}
